<div class="mui-container-fluid">
    <div class="mui-row">
        <div class="mui-col-md-12">
            <h3>¡Para Comenzar!</h3>
            <p>Bienvenido a la herramienta de gestión de solicitudes <strong>F.A.E.</strong>, aquí podrás registrar y dar seguimiento a tus solicitudes, consultar los datos, visualizar la documentación y conocer las acciones que tanto el <strong>FUNCIONARIO</strong> como el área de <strong>FACULTAMIENTO</strong> están realizando sobre tu solicitud.</p>
        </div>
    </div>
    <div class="mui-row">
        <div class="mui-col-md-12">
            <h5><strong><i class="fas fa-share-alt"></i> Flujo de trabajo</strong></h5>
            <img src="images/Sflujo.png" alt="" style="width: 100%; height: auto;">
            <div class="mui-col-md-12">
                <ol>
                    <li><p style="font-size: 12px;">Se registra la solicitud y se adjuntan los archivos que ayuden a sustentar la misma, en este punto se elige si es un FAE para afectación al FUNCIONARIO, CUENTA ESPECIAL, o por error ADMINISTRATIVO</p></li>
                    <li><p style="font-size: 12px;">El FUNCIONARIO facultado revisa la solicitud y puede APROBAR o RECHAZAR y agregar sus comentarios; en caso de rechazo el flujo termina y se debe registrar una nueva solicitud, por el contrario si se aprueba es enviada al área de FACULTAMIENTO para continuar con el flujo. </p></li>
                    <li><p style="font-size: 12px;">El área de FACULTAMIENTO recibe la solicitud y la procesa, se rechaza en caso de no cumplir con alguna de las politicas, por el contrario si todo es correcto se termina el trámite generando un FOLIO DE TÉRMINO el cual es ingresado en los sistemas correspondientes para el pago.</p></li>
                    <li><p style="font-size: 12px;">Se notifica al solicitate de la resolución del trámite ya sea TÉRMINO o RECHAZO.</p></li>
                </ol>
            </div>
        </div>
    </div>
    <div class="mui-row">
        <div class="mui-col-md-12">
            <h5><strong><i class="fab fa-youtube"></i> Registrar una solicitud FAE</strong></h5>
            <div>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/LzQb_O1m3rM?rel=0" frameborder="1" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="mui-row">
        <div class="mui-col-md-12">
            <h5><strong><i class="fas fa-user-tie"></i> Perfil de FUNCIONARIO</strong></h5>
            <div>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/CriFJUNkmho" frameborder="1" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <br>
</div>